// Definición de la paleta de colores
$primary-color: #063655;
$secondary-color: #3498db;
$accent-color: #ababb3;
$background-color: #ecf0f1;
$text-color: #2c3e50;


.custom{background-color: #063655;}

.header{
  position: relative;
  height: 15vh;
  width: 100vw;

}

// ================================PRIMERA SECCION ===============================
//================================================================================
//================================================================================
.h-primera-seccion{
  position: relative;
  display: block;
  height: 30%;
  width: 100%;
  background-color: $primary-color;
}
.bloque-span-uno{
  position: absolute;
  width: 25%;
  height: 100%;


  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;



}

.decoracion-uno{

    display: inline-block;
    margin-left: 7%;



    width: 30%;
    height: 30%;
    border-radius: 16%;
    background-color: $secondary-color;


    font-weight: bold;


}


.bloque-span-dos{
  position: absolute;

  width: 15%;
  height: 100%;


  left: 75%;
  display: flex;
  justify-content: center;
  align-items: center;



}

.decoracion-dos{

  display: inline-block;
  margin-left: 10%;





  width: 10%;
  height: 60%;
  border-radius: 20%;
  background-color: $background-color;





}


// ================================SEGUNDA SECCION ===============================
//================================================================================
//================================================================================

.h-segunda-seccion{
  position: relative;
  display: block;

  height: 70%;
  width: 100%;
  background-color: $secondary-color;
}

.bloque-span-tres{
  position: absolute;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 7%;

}

.bloque-span-cuatro{
  position: absolute;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 60%;
  border-radius: 20%;

}
