.footer {
  background-color: #063655;
  color: #fff;
  padding: 20px 0;
  margin-top: 20%;

  .container {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 15px;
  }

  h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #f8f9fa;
  }

  p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #adb5bd;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #adb5bd;
        text-decoration: none;

        &:hover {
          color: #f8f9fa;
        }
      }
    }
  }

  .social-icons {
    a {
      color: #adb5bd;
      margin-right: 10px;
      font-size: 18px;

      &:hover {
        color: #f8f9fa;
      }
    }
  }

  .text-center {
    text-align: center;
    margin-top: 20px;

    p {
      margin: 0;
      font-size: 14px;
      color: #adb5bd;
    }
  }
}
