<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p>Somos una empresa dedida a la compra y venta de dispositivos electrónicos.</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces Rápidos</h5>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p>Email: Turing-IA.com</p>
        <p>Teléfono: +123 456 7890</p>

      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2024 Empresa. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
